#visitors_data_controls {
	padding: 10px 20px 5px;
	border: 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
}

#visitors_data_controls div {
	display: inline-block;
	margin-left: 10px;
	float: right;
}

#rows1 {
	width: 50px;
}

#select1 {
	width: 70px;
}




body {
    padding-top: 30px;
}

.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}

#mmDashPage {
	margin-top: 50px;
}
